.feature-item {
    background: #FFFFFF;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    transition: all 0.3s;
    text-align: center;
    padding: 30px;
    cursor: pointer;
    margin: 10px 0;
}

.feature-item:hover {
    box-shadow: 0px 30px 45px rgba(0, 0, 0, 0.07);
}

.feature-item .feature-item-title {
    font-family: "Droid Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    color: #000000;
}