.search-food-btn{
    white-space: nowrap;
    border-radius: 0 5px 5px 0;
    width: 50%;
    background: #3CC754!important;
    border: none!important;
    box-shadow: none!important;
    padding: 7px;
}

.search-food-btn:hover {
    background: #73d683!important;
}

.search-food-input {
    border-radius: 5px 0 0 5px;
    padding-left: 45px;
    box-shadow: none!important;
}

.search-food-icon {
    position: absolute;
    left: 15px;
}